.imageViewer {
    width: 300px;
    height: 100%;
    
}
.Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 20px; /*Optional*/

}
.Column {
    display: table-cell;
    vertical-align: middle;
    font-size: x-large;
    height: 300px;
}

.plus {
    vertical-align: middle;
    
    text-align: center;
}